<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accounts</title>
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <a href="{% url 'home' %}">Receipts List</a>
        </li>
        <li>
          <a href="{% url 'category_list' %}">Expense Categorys</a>
        </li>
        <li>
          <a href="{% url 'account_list' %}">Accounts List</a>
        </li>
        <li>
          <a href="{% url 'create_receipt' %}">Create Receipt</a>
        </li>
        <li>
          <a href="{% url 'create_category' %}">Create Category</a>
        </li>
        <li>
          <a href="{% url 'create_account' %}">Create Account</a>
        </li>
        {% else %}

        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Number</td>
          <td>Number of receipts</td>
        </tr>
      </thead>
      <tbody>
        {% for account in account_list %}
        <tr>
          <td>{{ account.name }}</td>
          <td>{{ account.number }}</td>
          <td>{{ account.receipts.all.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
